 *{
     font-family: 'Times New Roman', Times, serif;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
   /* nabar css*/
   
   .navbar{
        color: white !important;
        background: #303030 !important;
    }

    .nav-link {
        font-size: 2vh;
    }

    @media screen and (max-width: 990px) {
        .navbar-brand {
            margin-left: 10px !important;
        }

        .navbar-toggler {
            margin-left: auto !important;
        }

        /* #cc1 , #cc2{ */
        .navbar-collapse {
            position: absolute;
            z-index: 9999;
            width: 100%;
            padding: 4%;
            background: #303030;
            height: auto;
            text-align: right;
            padding-right: 5%;
        }

        #cc1 {
            right: 0%;
            top: 86%;
        }

        #cc2 {
            right: 0%;
            top: 282%;
        }
    }

    a {
        color: white !important;
        text-decoration: none !important;
    }

    a:hover {
        color: goldenrod !important;
    }
.dropdown-menu{
    background: #303030;
}
.dropdown-item:hover{
    background: #303030;
}
/* nabar css*/

/* carousel */
 /* .carousel-caption{
     position: absolute;
     top: 20%;
 }
 @media screen and (min-width: 600px)
 {
    .carousel-caption > p{
     font-size: 2vh;
     line-height: 2vh;
 }
  .carousel-caption > h3{
     font-size: 4vh;
 }  
 }
  .carousel-caption > p{
     font-size: 4vh;
     line-height: 5vh;
 }
  .carousel-caption > h3{
     font-size: 10vh;
 }   */
/* @media screen and (max-width: 300px)
{
    .carousel-caption > p{
        font-size: 1vh;
        line-height: 1vh;
    }
    .carousel-caption > h3{
     font-size: 1vh;
 }  
} */
/* @media screen and (max-width: 330px)
{
    .carousel-caption > p{
        font-size: 4vh;
        line-height: 4vh;
    }
    .carousel-caption > h3{
     font-size: 4vh;
 }   */
/* carousel */
/* carousel */
.carousel-caption{
     position: absolute;
     top: 20%;
 }
 
    .carousel-caption > p{
     font-size: 2vh;
     line-height: 2vh;
 }
  .carousel-caption > h3{
     font-size: 4vh;
 }  
 @media (min-width:550px) and (max-width:1366px)
 {
     .carousel-caption{
     position: absolute;
     top: 38%;
 }
    .carousel-caption > p{
     font-size: 6vh;
     line-height: 6vh;
 }
  .carousel-caption > h3{
     font-size: 13vh;
 }  
 }
 /* carousel */

 /* para and heading */
 
  /* p{
     font-size: 3vh;
     line-height: 3vh;
 }
   h3,h2,h1,h4,h5,h6{
     font-size: 6vh;
 }  

 @media (min-width:550px) and (max-width:1366px)
 {

    p{
     font-size: 6vh;
     line-height: 6vh;
 }
   h3,h2,h1,h4,h5,h6{
     font-size: 13vh;
 }  
 } */

 /* para and heading */
/* 
 #adjust > p
 {
     font-size: 3vh;
     line-height: 3vh;
 } */
#back {
    background: url(https://demo.zytheme.com/hairy/assets/images/background/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    background-position: center center;
    background-attachment: fixed;
}
 .whiteborder{
     border: 1px solid white;
     padding: 5%;
 }

 /* .appointment > img
 {
    background-repeat: no-repeat;
    background-size: cover ;
    height: 100%;
    width: 100%;
    background-position: center center;
    background-attachment: fixed;
    opacity:;
    background:#303030;
 } */
 .backlay{
     position: relative;
     background-repeat: no-repeat;
    background-size: cover ;
    height: auto;
    width: 100%;
    background-position: center center;
    background-attachment: fixed;
 }
 .overlay{
     position: absolute;
     height: 100%;
     width: 100%;
     background: black;
     opacity: 0.8;
     top: 0;
     color: white;
 }
 .overlay > div > div > h1{
     font-size: 4vh;
 }
  .overlay > div > div > h2{
     font-size: 3vh;
 }
  .overlay > div > div > h3{
     font-size: 3vh;
 }
footer{
    background: #303030;
    height: auto;
}

.emlbtn {
  position: relative;
}

.emlbtn .btn {
  position: absolute;
  top: 0;
  right: 0;
  background: #9e8a78 !important;
  color: white !important;
}

.aboutsection{
    background: url(https://mourithemes.com/alexandra/images/home/3.jpg);
     background-repeat: no-repeat;
    background-size: cover ;
    height: 100vh;
    width: 100%;
    background-position: center center;
    background-attachment: fixed;
  
}
section > div > div > div >p{
    font-size: 3vh;
    line-height: 3vh;
}
section > div > div > div > h2{
    font-size: 4vh;
}

/* pricing */
.price_wrap button {
    background-color: #303030;
    color: #fff;
    font-size: 5vh;
    padding: 1vh;
    margin-bottom: 1vh ;
}
.price_wrap li h4{
    display: inline-block;
    position: relative;
}
.price{
    font-size: 24px;
    color: #9e8a78;
    font-weight: 700;
    display: inline-block;
    position: absolute;
    right: 0; 
}
.price_wrap button:hover{
    color: black;
}
.price_list
{
    padding: 2vh;
}
.pricingsection
{
      background: url(https://html.dynamiclayers.net/dl/barbershop/img/page-header.jpg);
     background-repeat: no-repeat;
    background-size: cover ;
    height: 100vh;
    width: 100%;
    background-position: center center;
    background-attachment: fixed;
}
section > div > div > div>  div > h2 {
    font-size: 8vh;
    color: white;

}
section > div > div > div > div> p {
    font-size: 4vh;
    line-height: 4vh;
    color: white;

}
/* pricing */

/* shops */
inner {
  overflow: hidden;
}
.inner img {
  transition: all 0.75s ease;
  position: relative;
}
.inner:hover img {
  transform: scale(0.9) ;
}
.title {
  position: absolute;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  width: 100%;
  height: 100%;
}
.fixme > ul >li {
    
    font-size: 4vh;
    line-height: 4vh;    
}
.fixme >h2 {
    font-size: 5vh;
}
.card-title > h1{
    position: absolute;
    width: 100%;
    top: 50%;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  
}
/* .fixme{
    position: absolute;
    top: 5vh;
    left: 3vh;
} */
 /* .title > li
  {font-size: 2vh;
  line-height: 2vh; } */
/* .inner:hover .title {
 
} */
.sponsor_item{
    display: inline-block;
}
/* shops */
/* gents */
#gentssection
{
      background: url(https://html.dynamiclayers.net/dl/barbershop/img/page-header.jpg);
     background-repeat: no-repeat;
    background-size: cover ;
    height: auto;
    width: 100%;
    background-position: center center;
    background-attachment: fixed;
}
.gentspos > h2 {
    font-size: 12vh;
}
.gentspos > p {

    font-size: 4vh;
    line-height: 4vh;
}

#gentssection1{
    background: url(https://mourithemes.com/alexandra/images/home/3.jpg);
     background-repeat: no-repeat;
    background-size: cover ;
    height: auto;
    width: 100%;
    background-position: center center;
    background-attachment: fixed;
  
}
gentssection2{
    background: #FAF7F3 ;
    height: auto;
}
/* gents */
/* ladies section */
#ladiessection{
      background: url(https://www.lookssalon.in/public/images/innerBanner/ladies-1.png);
     background-repeat: no-repeat;
    background-size: cover ;
    height: auto;
    width: 100%;
    background-position: center center;
    background-attachment: fixed;
    filter: grayscale(100%);
}
#ladiessection1{
   
      background: #FAF7F3 ;
    height: auto;
  
}
section > div > div > div>  div > div >h2 {
    font-size: 8vh;
    color: black;

}
section > div > div > div > div > div > p {
    font-size: 4vh;
    line-height: 4vh;
    color: black;

}
#ladiessection1 .card-img-top {
    width: 100% !important;
    height: 50vh;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}
/* ladies section */